nav .login button {
    font-size: var(--text_size_c);
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: var(--color_text);
    padding: 8px 30px;
    background-color: var(--color_logo);
}

nav .login button:hover {
    background: var(--color_text);
    color: var(--color_logo);
}

.catalog form {
    display: flex;
}

.catalog button {
    width: 49%;
    padding: 40px 35px;
    background-color: var(--color_logo);
    text-align: left;
    font-size: var(--text_size_k);
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0em;
    color: var(--color_text);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
}

.catalog button:hover {
    background-color: var(--color_text);
    color: var(--color_logo);
}

.visit_shop button {
    font-size: var(--text_size_c);
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    background: var(--color_text);
    color: var(--color_logo);
    padding: 10px 40px;
    border-radius: 1px;
}

.visit_shop button:hover {
    color: var(--color_text);
    background-color: var(--background_plant);
    box-shadow: 0 0 1px 1px #4F4F4F;
}

.email button {
    font-size: var(--text_size_a);
    font-weight: 500;
    line-height: 14px;
    text-align: center;
    background: var(--color_text);
    color: var(--color_logo);
    padding: 4px 12px;
}

.email input {
    padding: 8px 85px 8px 13px;
    border: 1px solid #F2F2F2;
    margin-bottom: 15px;
    font-size: var(--text_size_d);
}

.email form {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.visit_shop form {
    padding: 0px 0px 60px 70px;
}