.shop_wrapper {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
}

.shop_wrapper select {
    border: 1px solid #E0E0E0;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    padding: 8px 15px;
}

.featured h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.catalog_plant_wrapper ul {
    display: flex;
}

.catalog_plant_wrapper li {
    max-width: 21%;
    padding: 20px 19px;
    margin-top: 10px;
}

.catalog_plant_wrapper li:hover {
    box-shadow: 0 0 3px 3px rgb(180, 180, 87);
}

.catalog_plant_wrapper .img {
    background-color: #F3F4F6;
}

.catalog_plant_wrapper h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding: 10px 0px;
}

.catalog_plant_wrapper p {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.catalog_plant_wrapper {
    padding-bottom: 80px;
}

.catalog_plant_wrapper img {
    max-width: 100%;
}