.poligon_logo a {
    font-family: "Nunito";
}

nav .login a {
    font-family: "Nunito";
}

.info h1 {
    font-family: "Montserrat";
}

.info p {
    font-family: "Montserrat";
}

.info p {
    font-family: "Montserrat";
}

.catalog span {
    font-family: "Montserrat";
}

.list_wrapper h3 {
    font-family: "Montserrat";
}

.list_wrapper p {
    font-family: "Montserrat";
}

.shop_wrapper select {
    font-family: "Montserrat";
}

.featured {
    font-family: "Montserrat";
}

.catalog_plant_wrapper h3 {
    font-family: "Montserrat";
}

.catalog_plant_wrapper p {
    font-family: "Montserrat";
}

.description_left h3 {
    font-family: "Montserrat";
}

.description_left p {
    font-family: "Montserrat";
}

.visit_shop h3 {
    font-family: "Montserrat";
}

.visit_shop button {
    font-family: "Nunito";
}

.footer_wrapper h3 {
    font-family: "Work Sans";
}

.company p {
    font-family: "Work Sans";
}

.email button {
    font-family: "Raleway";
}

.plantku h2 {
    font-family: "Poppins";
}