@media (max-width:950px) {
    .contact {
        padding-top: 40px;
    }
    .footer_wrapper h3 {
        font-size: var(--text_size_b);
        line-height: 10px;
    }
    .plantku h2 {
        font-size: var(--text_size_c);
        line-height: 10px;
    }
    .company p {
        font-size: var(--text_size_a);
        line-height: 16px;
    }
}

@media (max-width:767px) {
    footer .contact {
        padding-top: 40px;
    }
    .plantku h2 {
        padding-bottom: 15px;
    }
    .plantku address {
        padding-right: 10px;
        line-height: 15px;
        font-size: var(--text_size_a);
    }
    .company p {
        font-size: var(--text_size_b);
        line-height: 12px;
    }
    .company {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .footer_wrapper {
        padding-bottom: 40px;
    }
    .contact .perusahaan {
        padding-right: 15px;
    }
}

@media (max-width:550px) {
    .footer_wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    footer .contact {
        max-width: 50%;
    }
}