.footer_wrapper {
    border-top: 2px solid #E0E0E0;
    display: flex;
    justify-content: space-around;
    padding-bottom: 70px;
}

footer .contact {
    max-width: 33%;
    padding-top: 60px;
}

.footer_wrapper h3 {
    font-size: var(--text_size_d);
    font-weight: 500;
    line-height: 16px;
    padding-bottom: 10px;
}

.company p {
    font-size: var(--text_size_c);
    font-weight: 400;
    line-height: 16px;
    padding-bottom: 10px;
}

.company {
    display: flex;
}

.plantku h2 {
    font-size: var(--text_size_h);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: var(--color_text);
    padding-bottom: 25px;
    text-transform: uppercase;
}

.plantku address {
    padding-right: 70px;
    color: var(--color_address);
    line-height: 20px;
    font-size: var(--text_size_b);
}

.contact .perusahaan {
    padding-right: 80px;
}